/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Portrait Phone*/
@media only screen and (min-width: 20em){

    body {
        background-color: white;
        background-image: url(../img/noisy_grid.png);
    }

    ul {
        list-style: none;
        text-align: left;
    }

    a {
        text-decoration: none;
    }

    h4 {
        font-style: italic;
        text-align: center;
    }

    h2 {
        width: 100%;
    }


    :focus, :active {
        outline: 0;
    }

    #container {
        background-color: #1C9A6B;
        border: 2px solid black;
        -moz-box-shadow:0px 0px 25px 1px black;
        -webkit-box-shadow:0px 0px 25px 1px black;
        box-shadow:0px 0px 25px 1px black; 
        margin: 10px 0;
        overflow: hidden;
        width: 100%; 
    }

    #title {
        text-align: center;
        border-style: solid;
        border-bottom: 1px solid black;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
        -moz-box-shadow:0 20px 16px -16px #2D755A;
        -webkit-box-shadow:0 20px 16px -16px #2D755A;
        box-shadow: 0 20px 16px -16px #2D755A;
        color: #fff;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.2);  
        text-shadow: 1px 1px 0px rgba(0,0,0,0.2); 
    }

    #accordion .ui-accordion-header a {
        text-decoration: none;
        color: #fff; 
        line-height: 42px;        
        width: 100%;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.2);  
        text-shadow: 1px 1px 0px rgba(0,0,0,0.2); 
        position: relative;
        left: 15px; 
    }

    .question{
        background-color: #e6e6e6;
        -moz-box-shadow:0px 0px 25px 1px black inset;
        -webkit-box-shadow:0px 0px 25px 1px black inset;
        box-shadow:0px 0px 25px 1px black inset; 
        margin: 50px auto;
        padding: 25px;
        overflow: hidden;
        width: 85%;
        clear: both;
        position: relative;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #video {
        display: block;
        width: 240px;
        height: 180px;
        margin: 0 auto;
        position: relative;
    }

    #wordSearch {
        position: relative;
        float: left;
        width:100%;
    }

    .row {
        clear: both;
        width: 100%;
    }


    .letter {
        background-color: #E5642A;
        border: black 1px solid;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        font-size: 10px;
        float: left;
        width: 12px;
        height: 12px;
        text-align: center;
        -webkit-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
        -moz-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
        box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
    }

    .letter:hover {
        background-color: #2daebf;
        color: white;
    }

    .highlight {
        color: white;
        background-color: #2daebf;
    }

    #listTitle{
        color: black;
        text-align: left;
        font-size: 16px;
    }

    #wordList {
        color: black;
        margin-top: 15px;
        position: relative;
        text-align: center;
        float: left;
        width: 100%;
        font-size: 14px;
    }




    .word {
        cursor: pointer;
    }

    .word:hover {
        font-weight: bold;
    }

    .wordClicked {
        color: black;
        font-weight: bold;
    }

    .button {
        background-color: #ddd;
        background-image: -moz-linear-gradient( -90deg, rgba(255, 255, 255, 0.5 ) , rgba(255, 255, 255, 0.0 ) ); 
        background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( rgba(255, 255, 255, 0.5 ) ), to( rgba(255, 255, 255, 0.0 ) ) );
        background-image: -o-linear-gradient( -90deg, rgba(255, 255, 255, 0.5 ) , rgba(255, 255, 255, 0.0 ) );  
        padding: 5px 8px; 
        margin: 15px auto;
        color: #222; 
        width: 25%;
        font-weight: bold;
        border: 1px solid white;
        border-radius:7px; 
        text-shadow: 1px 1px 0px white; 
        -moz-box-shadow: 0 1px 3px #333;
        -webkit-box-shadow: 0 1px 3px #333;
        box-shadow: 0 1px 3px #333;
        top: 15px;
    }

    .button:hover
    {
        background-color: #97390E;
        color: #71CDAA;
        cursor:pointer;
    }

    #timeline {
        margin: 15px auto;
    }

    .center{
        text-align: center;
    }

    .tweet{
        background-color: white;
        border: 1px solid black;
        width: 275px;
        height: 250px;
        margin: 1px auto;
        overflow: hidden;
    }

    .tweet:hover {
        border: 3px solid black;
    }

    .profile_image {
        background-color: transparent;
        position: relative;
        float: left;
        width: 50px;
    }

    .tweet_content{
        background-color: transparent;
        position: relative;
        float: left;
        width: 225px;
    }

    .screen_name {
        position: relative;
        float: left;
        margin-top: 1em;
    }

    .name {
        position: relative;
        float: left;
        font-size: 12px;
        font-color: gray;
        left: 10px;
        top: 3px;
        margin-top: 1.25em;
    }

    .tweet_text {
        position: relative;
        clear: both;
        font-size: 14px;
        margin-right: 15px;
        text-align: left;
        top: 20px;
    }
}

#spacer{
    height: 25px;
 
}

#footer {
    border-style: solid;
    border-top: 1px solid black;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    font-size: 18px;
    height: 80px;
    -moz-box-shadow:0 -20px 16px -16px #2D755A;
    -webkit-box-shadow:0 -20px 16px -16px #2D755A;
    box-shadow: 0 -20px 16px -16px  #2D755A;
    padding: auto;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);  
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2); 
}

/*Landscape Phone*/
@media only screen and (min-width: 28em){


    #container {
        margin: 20px 0px;
        width: 100%; 
    }

    .question{
        margin: 50px auto;
        padding: 25px;
        width: 85%;
        clear: both;
    }

    #video {
        width: 320px;
        height: 240px;
        margin: 0 auto;
    }

    #wordSearch {
        width:75%;
    }

    .letter {
        width: 15px;
        height: 15px;
        font-size: 14px;
    }

    #listTitle{
        text-align: right;
        font-size: 16px;
    }

    #wordList {
        float: left;
        width: 25%;
    }

    .button {
        padding: 5px 8px; 
        margin: 15px auto;
        width: 100%;
        top: 15px;
    }

    .tweet{
        width: 300px;
        height: 175px;
        margin: 1px auto;
    }

    .tweet_content{
        width: 250px;
    }
}

/*iPad portrait */
@media only screen and (min-width: 46em){
    #container {
        border-radius: 25px;
        margin: 50px auto;
        width: 90%; 
    }

    .letter {
        width: 20px;
        height: 20px;
        font-size: 16px;
    }

    #listTitle{
        text-align: right;
        font-size: 16px;
        text-align: center;
    }

    #wordList {
        float: left;
        width: 25%;
        font-size: 16px;
    }

    .tweet{
        width: 300px;
        height: 150px;
        margin: 1px auto;
    }
}

/*iPad Landscape*/
@media only screen and (min-width: 60em){
     #video {
        width: 640px;
        height: 480px;
    }

    .letter {
        width: 25px;
        height: 25px;
    }

    .tweet{
        width: 350px;
        height: 175px;
        margin: 1px auto;
    }

}

/*Laptop*/
@media only screen and (min-width: 78em){
    #container {
        width: 75%; 
    }

    .tweet{
        width: 350px;
        height: 200px;
        margin: 1px auto;
    }
}

/*Desktop*/
@media only screen and (min-width: 87em){}


/*Widescreen Desktop*/
@media only screen and (min-width: 118em){}4

